<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인하대학교 후문가 LIST</title>
</head>
<body>
    <!-- 순서가 없는 목록 -->
    <h3>먹고 싶은 음식</h3>
    <ul>
        <!-- 목록 check -->
        <li>연어초밥</li>
        <li>아이스 아메리카노</li>
        <li>칵테일</li>
    </ul>

    <!-- 순서가 있는 목록 -->
    <h3>오늘의 먹방 코스</h3>
    <ol>
        <!-- 목록 check -->
        <li>가메이</li>
        <li value = "3">소블링</li>
        <li value = "5">핸즈업
            <ul>
                <li>옥보단</li>
                <li>블루 하와이</li>
                <li>데드밤</li>
            </ul>
        </li>
        <li>방자전
            <ul>
                <li>모듬전</li>
                <li>동동주</li>
            </ul>
        </li>
    </ol>
</body>
</html>