<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생회 명단</title>
</head>
<body>
    <table>
        <!-- 1행 -->        
        <tr>
            <!-- 1열 -->
            <th>부서</th>
            <th>학년</th>
            <th>이름</th>
        </tr>
        <!-- 2행 -->
        <tr>
            <th>기획부</th>
            <th>1</th>
            <th>부승관</th>
        </tr>
        <!-- 3행 -->
        <tr>
            <th>사무부</th>
            <th>2</th>
            <th>김민규</th>
        </tr>
        <!-- 4행 -->
        <tr>
            <th>홍보부</th>
            <th>3</th>
            <th>권순영</th>
        </tr>
    </table>
</body>
</html> 